[project]
	description = Makefile for Arduino sketches. It defines the workflows for compiling code, flashing it to Arduino and even communicating through Serial.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Izik D (Izikd)
[access "refs/for/refs/*"]
	read = group user/Izik D (Izikd)
	push = group user/Izik D (Izikd)
	label-Code-Review = -2..+2 group user/Izik D (Izikd)
	label-Verified = -1..+1 group user/Izik D (Izikd)
	rebase = group user/Izik D (Izikd)
	removeReviewer = group user/Izik D (Izikd)
	submit = group user/Izik D (Izikd)
[access "refs/heads/*"]
	read = group user/Izik D (Izikd)
	create = group user/Izik D (Izikd)
	push = +force group user/Izik D (Izikd)
	pushMerge = group user/Izik D (Izikd)
[access "refs/tags/*"]
	push = +force group user/Izik D (Izikd)
	pushTag = group user/Izik D (Izikd)
	pushSignedTag = group user/Izik D (Izikd)
